<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>【会计管理制度基础】财务与会计管理规章</Template><Pages>11</Pages><Words>841</Words><Characters>4799</Characters><Lines>39</Lines><Paragraphs>11</Paragraphs><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5629</CharactersWithSpaces><Application>WPS Office_10.1.0.6554_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>